body{
    background-color: rgb(238, 246, 251)!important;
}
.logotipo{
    display: flex;
    background-color:white;

}
.login{
    border-radius: 25px!important;
}

.table-hanan  tr th{
    background-color: #b40a8c!important;
    color: #fff!important;
}
.table-hanan tbody tr:hover {
    background-color: #b5ff6588 !important;
}
.table-hanan tr th:first-child {
    border-radius:20px 0px 0px 0px!important;
}
.table-hanan tr th:last-child {
    border-radius:0px 20px 0px 0px!important;
}

.justify-end{
  display: flex;
  align-items:center;
  justify-content: flex-end;
}
.justify-center{
    display: flex;
    flex-direction: column;
    justify-content: center; /* don't need this */
    align-items: center;
}
.hanan-success{
    background-color:#22be22 !important;
    color: #fff;
}   
.hanan-success :hover{
    color: #fff!important;
}